<%- include('partials/header') %>
    <h1>Add New Product</h1>
    <form action="/products" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input class="form-control" type="text" name="title" id="title" placeholder="Album Title" required>
        </div>
        <div class="mb-3">
            <label for="artist" class="form-label">Artist:</label>
            <input class="form-control" type="text" name="artist" id="artist" placeholder="Album Artist" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input class="form-control" type="number" name="price" id="price" placeholder="Price" required>
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Genre</label>
            <input class="form-control" type="text" name="genre" id="genre" placeholder="Genre" required>
        </div>
        <div class="mb-3">
            <label for="format" class="form-label">Format</label>
            <select class="form-control" name="format" id="format" required>
                <option value="CD">CD</option>
                <option value="LP">LP</option>
                <option value="Cassette">Cassette</option>
                <option value="Reel-To-Reel">Reel-To-Reel</option>
                <option value="8-Track">8-Track</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/products" class="btn btn-secondary">Cancel</a>
    </form>
    <%- include('partials/footer') %>